body {
    font-family: Arial, sans-serif;;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 1%;
}

a {
    color: #e6c4e7;
    text-decoration: none;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    border-radius: 15%;
    margin: 10px;
}

.site_name h1 {
    margin: 15px;
    font-size: 24px;
}

.catalog button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.catalog button:hover {
    background-color: #777;
}

.search_bar input {
    padding: 5px;
    font-size: 16px;
}

.menu_buttons ul {
    list-style: none;
    padding: 0;
    display: flex;
}



.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.news, .new_items_and_promotions1, .new_items_and_promotions2 {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.text {
    margin: 10px 0;
    font-size: 18px;
}

.price {
    font-weight: bold;
    color: #333;
}

.add_to_cart {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.add_to_cart:hover {
    background-color: #0056b3;
}

.user_ava {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user_ava img {
    border-radius: 50%;
    margin-right: 15px;
}

.user_name h3 {
    font-size: 20px;
    color: #333;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu a {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #0056b3;
}

.orders_title h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.orders_list ol {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.info_about, .contacts, .social_media {
    width: 30%;
}

#cute_ascii_picture pre {
    font-family: monospace;
    color: #fff;
}

#success {
    text-align: center;
    color: #fff;
}

#code pre {
    background-color: #555;
    color: #fff;
    padding: 10px;
}
